---
interface Props {
  code: string;
  language?: string;
}

const { code, language = "javascript" } = Astro.props;
---

<div class="code-block">
  <div class="code-header">
    <span>{language}</span>
    <button class="copy-button">Copy</button>
  </div>
  <pre><code set:html={code} /></pre>
</div>