<footer class="full-width">
  <div class="inner-container footer-content">
    <div class="ascii-divider">+-+-+</div>
    <div class="footer-main">
      <p>&copy; {new Date().getFullYear()} <span class="monospace">n<span class="accent1">i</span>bzard</span></p>
      <div class="footer-links">
        <a href="/log">Log</a>
        <a href="/about">About</a>
        <a href="/bio">Bio</a>
        <a href="/projects">Projects</a>
        <a href="/now">Now</a>
        <a href="/elements">Elements</a>
        <a href="/rss.xml">RSS</a>
      </div>
    </div>
  </div>
</footer>
