---
import Navigation from './Navigation.astro';
---

<header class="site-header full-width">
  <div class="inner-container header-content">
    <a href="/" class="logo">
      Nikola Balic
    </a>
    <Navigation />
  </div>
</header>
